<div class="container">
  <form id="form" (ngSubmit)="onHandleSubmit()" [formGroup]="productForm">
    <input type="text" formControlName="name" placeholder="Tên sản phẩm" />
    <input
      class="input"
      type="number"
      formControlName="price"
      placeholder="Giá sản phẩm"
    />
    <input
      class="input"
      type="text"
      formControlName="desc"
      placeholder="Mô tả sản phẩm"
    />
    <button class="btn btn-primary" [disabled]="!productForm.valid">
      Cập nhật sản phẩm
    </button>
  </form>
</div>
